*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 24px;
    position: absolute;
    color: white;
    z-index: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center{ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

section{
    height: 100vh;
}
@keyframes fadeIn {
    0%{
    }
    100%{
    }
}
@media (max-width: 502px) {
}

:root{
    --color-blue-menu: rgba(0,17,25,255);
    --color-main-blue: rgba(0,17,25,255);
    --color-orange-gold: rgba(226,151,38,255)
}

body{ background-color: rgb(74, 245, 0); overflow-x: hidden; height: auto;}

/* header set */
header{
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    opacity: 100%;
    width: 100vw;
    height: 60px;

    /* border: solid red 2px; */
    z-index: 3;
}

    

    /* header - menuBox */
    header .coverMenu{
        width: 70vw;
        height: 100%;
        background-color: transparent;

        /* border: solid red 2px; */
    }
    /* immagine a sinistra */
    header img{
        max-width: 60px;
        min-width: 50px;

        position: relative;
        left: -40%;
    }
    /* sezioni del Menu */
        /* contenitori */
        header .coverMenu .menuCont{
            position: absolute;
            width: 90%;
            height: 100%;
            scale: 0.5;
            

            /* border: solid red 2px; */
        }
        header .coverMenu .menuCont div{
            width: 35%;
            height: 100%;
            
            display: flex;
            align-items: center; /* allineamento alto e basso */
            justify-content: center; /* allineamento destra sinistra */




            /* border: solid rgb(0, 0, 0) 2px; */
            
        }
        header .coverMenu .menuCont a{
            font-size: 28px;
            font-weight: 400;
            text-decoration: none;
            
            color: rgb(255, 255, 255);
        }

        /* menu - ShopButton */

/* Home */
body .bgImg{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    z-index: -1;
}

.Home{
    /* border: solid red 2px; */
    height: 100vh;
    width: 100vw;
    top: 60px;
}

.d-1{
    display: flex;
    flex-wrap: nowrap;
}

.Home #logo-in{
    width: 500px;
    border-radius: 20px;

    position: absolute;

    box-shadow: 0px 0px 20px #000000;
}
.Home #frasi{
    position: relative;
    
    width: 40%;
    height: 90vh;
}

.button-down{
    position: absolute;
    top: 80vh;
    left: 90vw;

    border-radius: 50%;
    width: 100px;
    height: 100px;

    background-color: #000000b3;
    /* border: solid red 2px; */

    font-size: 60px;
    color: white;
}

.parallelepipedo{ 
    position: relative; 
    height: 100vh; 
    width: 100vw; 
    /* border: solid red 2px;  */
    background-color: #90d047ef;
    box-shadow: 0px 0px 100px #90d047ef;
}
.para{
    width: 70%;
    height: 400px;

    border: solid rgb(0, 0, 0) 2px;
    background-color: #6d6d6db0;
}
#sviluppi .para{
    width: 60%;
    height: 400px;
    margin-left: 90px;
    margin-top: 100px;
    border: solid rgb(0, 0, 0) 2px;
    background-color: #6d6d6db0;

}

.sect2{ 
    position: relative; 
    height: 100vh; 
    width: 100vw; 
    /* border: solid red 2px;  */
    background-color: rgb(238, 238, 84);
    box-shadow: 0px 0px 100px rgb(238, 238, 84);
}
#sect2-img{
    height: 100%;
    object-fit: cover;
    /* border: solid red 2px;  */
    opacity: 80%;

}



#sviluppi{
    display: flex;
}
.tx{
    /* border: solid red 2px; */
    width: 50%;
    height: 100%;
}

.tx h1{
    top: 100px;
    left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 30px;
    color: #464545;
}

.cont{
    position: relative;
    top: 70px;
    height: 90%;
    width: 50%;
    /* border: solid red 2px; */
}
.cont div{
    width: 100%;
    height: 30%;

}



#ultimi_sviluppi {
    background-image: url("/assets/image/3518.jpg");
    background-size: cover;  /* Percorso assoluto */  
    opacity: 100%;


    width: 100vw;
    height: 100vh;
    /* border: solid red 2px; */
    z-index: 0;

    display: flex;

}

#ultimi_sviluppi #para{
    width: 50%;
    height: 100%;
    /* border: solid red 2px; */


    z-index: 1;
}
#ultimi_sviluppi #divpara{
    width: 80%;
    height: 500px;

    background-color: #7a7a7a;
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 20px;

    display: flex;

    justify-content: center;
    text-align: center;
    

    z-index: 0;
}
#ultimi_sviluppi #divpara h1{
    color: rgb(58, 59, 60); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 0;
    position: relative;
    top: 20px;
}
.img img{
    width: 90%;

    position: relative;
    border-radius: 20px;
    box-shadow: 3px 4px 5px #000000;

    z-index: 1;
}



.footer{
    background-color: #568f52;
    height: 240px;
}
.footer #img{
    position: relative;
    left: 40vw;
    width: 300px;
    top: 5px;

    /* border: solid red 2px; */
}

#dynamic{
    border: solid rgb(206, 79, 79) 2px;
    position: absolute;
    left: 60px;
    top: 50px;
    width: 100px;
}

#azioni{
    width: 50px;
    height: 400px;
    border: solid rgb(0, 0, 0) 2px;
    background-color: #6d6d6db0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}